body{
    background-color: #7f7f7f;
    margin-left: 120px;
    margin-right: 120px;
}
.header{
    height: 100px;
    width: 100%;
    padding: 0 10px;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    padding: 20px 0;
}
.header .navbar li{
    display: inline-block;
    margin: 0 15px;
    overflow: hidden;
}
.header .navbar li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.header .navbar li a:hover{
    color: #ff7200;
}
.header .search-container input{
    font-size: 16px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 8px;
    border-color: #ff7200;
    border: none;
}
.header .search-container button{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #ff7200;
    font-size: 16px;
    border: none;
    margin-left: 0;
    cursor: pointer;
}
.header .search-container button:hover{
    transform: scale(1.1);

}
.header h1{
    color: #ff7200;
    font-size: 40px;
}
.banner h1{
    color: white;
}
span{
    color: #ff7200;
}
.banner h3{
    color: white;
    font-weight: lighter;
}
.banner button{
    padding: 10px 30px 10px 30px;
    color: black;
    background-color: #ff7200;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.banner button:hover{
    transform: scale(1.1);
}
.login-card{
    float: right;
    background-color: black;
    margin-left: 200px;
    justify-content: center;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
    border-radius: 8px;
    width: 250px;
}
.flex-container{
    display: flex;
    margin-top: 30px;
}
.login-card #login-here{
    padding: 5px 40px 5px 40px;
    background-color: white;
    color: #ff7200;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.login-card #login-here:hover{
    transform: scale(1.1);
}
.login-card input{
    border: none;
    border-bottom: 2px #ff7200;
    opacity: 0.4;
    padding-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.login-card h3, h5{
    font-weight: lighter;
}
.login-card #login{
    padding: 5px 40px 5px 40px;
    background-color: #ff7200;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.login-card #login:hover{
    transform: scale(1.1);
}
.login-card .app-icons{
    color: white;
    cursor: pointer;

}
.login-card .app-icons:hover{
    color: #ff7200;

}